name: Node.js CI/CD

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Restart backend
        run: pm2 restart swatantra-admin-backend || pm2 start index.js --name swatantra-admin-backend
